<div class="bg-body dark:bg-darkmode-body">
  {{ $image := .Params.image }}
  {{ if $image }}
    {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "mb-6 w-full rounded") }}
  {{ end }}

  <h4 class="mb-3">
    <a href="{{ .RelPermalink }}">
      {{ .Title }}
    </a>
  </h4>

  <!-- Row 1: Author + Publish date -->
  <ul class="mb-2">
    {{ with .Params.author }}
      <li class="mr-4 inline-block hover:underline">
        <a href="{{ `author/` | relURL }}{{ . | urlize }}/">
          <i class="fa-regular fa-circle-user mr-2" title="Author"></i>{{ . }}
        </a>
      </li>
    {{ end }}

    <li class="mr-4 inline-block">
      <i class="fa-regular fa-code-merge mr-2" title="Publish Date"></i>{{ .Date.Format "2 Jan 2006" }}
    </li>
  </ul>

  <!-- Row 2: Duration + Categories + Tags -->
  <ul class="mb-4 text-xs text-gray-600">
    {{ with .Params.length }}
      <li class="mr-4 inline-block hover:underline">
        <a href="{{ `length/` | relURL }}{{ . | urlize }}/">
          <i class="ml-[0.1rem] fa-regular fa-calendar-check mr-2" title="Project Duration"></i>{{ . }}
        </a>
      </li>
    {{ end }}

    {{ $categories := .Params.categories }}
    {{ if $categories }}
      <li class="mr-4 inline-block">
        <i class="fa-regular fa-layer-group mr-1" title="Categories"></i>
        {{ range $i, $c := $categories }}
          <a href="{{ `categories/` | relURL }}{{ $c | urlize | lower }}/" class="hover:underline">
            {{ $c }}
          </a>
          {{ if ne $i (sub (len $categories) 1) }}
            <span class="mx-1 text-gray-400">|</span>
          {{ end }}
        {{ end }}
      </li>
    {{ end }}

    {{ $tags := .Params.tags }}
    {{ if $tags }}
      <li class="inline-block">
        <i class="fa-regular fa-tag mr-1" title="Tags"></i>
        {{ range $t := $tags }}
          <a href="{{ `tags/` | relURL }}{{ $t | urlize | lower }}/" class="hover:underline">
            #{{ $t }}
          </a>
        {{ end }}
      </li>
    {{ end }}
  </ul>

  <p class="mb-6">{{ .Summary | plainify }}</p>

  <a class="btn btn-outline-primary btn-sm" href="{{ .RelPermalink }}">
    {{ T "read_more" }}
  </a>
</div>