{{ $name := .Name }}
{{ $href := partial "components/filter-url" (dict "Kind" "categories" "Value" $name) }}
{{ $active := .Active | default false }}
{{ $class := .Class | default "" }}
{{ $suffix := .Suffix | default "" }}
{{ $style := .Style | default "" }}
{{ $slug := $name | urlize | lower }}

{{ $tone := printf "category-chip-%s" (partial "components/category-tone" (dict "Name" $name) | strings.TrimSpace) }}

{{ $activeClass := "" }}
{{ if $active }}
  {{ $activeClass = "border-text-light/30 text-text-dark dark:border-darkmode-text-light/30 dark:text-darkmode-text-dark" }}
{{ end }}

<a href="{{ $href }}" data-filter-kind="categories" data-filter-value="{{ $slug }}" class="ui-chip ui-chip-meta ui-chip-category {{ $tone }} {{ $activeClass }} {{ $class }}"{{ with $style }} style="{{ . }}"{{ end }}>
  <i class="fa-regular fa-layer-group mr-2" title="Categories"></i>
  {{ $name }}
  {{ $suffix | safeHTML }}
</a>
