<div class="ui-sidebar w-full">
  <!-- Consulting CTA -->
  {{ range .Widgets }} {{ if eq . "consulting-cta" }} {{ partial "widgets/consulting-cta" $.Scope }} {{ end }} {{ end }}
  <!-- Newsletter -->
  {{ range .Widgets }} {{ if eq . "newsletter" }} {{ partial "widgets/newsletter" $.Scope }} {{ end }} {{ end }}
  <!-- Highlights -->
  {{ range .Widgets }} {{ if eq . "highlights" }} {{ partial (print "widgets/" .) $.Scope }} {{ end }} {{ end }}
  <!-- Categories -->
  {{ range .Widgets }} {{ if eq . "categories" }} {{ partial (print "widgets/" .) $.Scope }} {{ end }} {{ end }}
  <!-- Tags -->
  {{ range .Widgets }} {{ if eq . "tags" }} {{ partial (print "widgets/" .) $.Scope }} {{ end }} {{ end }}
</div>
