{{ define "main" }}
<section class="section pt-7">
  <div class="container">
    <div class="row justify-center">
      <article class="lg:col-10">

        {{ $image := .Params.image }}
        {{ if $image }}
          <div class="mb-10">
            {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "w-full rounded") }}
          </div>
        {{ end }}

        <h1 class="h2 mb-4">{{ .Title }}</h1>

        <!-- Row 1: Author + Publish Date -->
        <ul class="mb-2">
          {{ with .Params.author }}
            <li class="mr-4 inline-block hover:underline">
              <a href="{{ `author/` | relURL }}{{ . | urlize }}/">
                <i class="fa-regular fa-circle-user mr-1" title="Author"></i>
                {{ . }}
              </a>
            </li>
          {{ end }}

          <li class="mr-4 inline-block">
            <i class="fa-regular fa-code-merge mr-1" title="Publish Date"></i>
            {{ time.Format ":date_long" .PublishDate }}
          </li>
          {{ with .Params.length }}
          <li class="mr-4 inline-block hover:underline">
            <a href="{{ `length/` | relURL }}{{ . | urlize }}/">
              <i class="fa-regular fa-calendar-check mr-1" title="Project Duration"></i>
              {{ . }}
            </a>
          </li>
        {{ end }}
        </ul>

        <!-- Row 2: Duration + Categories + Tags -->
        <ul class="ml-[0.1rem] mb-4 text-sm text-gray-600">

          {{ $categories := .Params.categories }}
          {{ if $categories }}
            <li class="mr-4 inline-block">
              <i class="fa-regular fa-layer-group mr-1" title="Categories"></i>
              {{ range $i, $c := $categories }}
                <a href="{{ `categories/` | relURL }}{{ $c | urlize | lower }}/" class="hover:underline">
                  {{ $c }}
                </a>
                {{ if ne $i (sub (len $categories) 1) }}
                  <span class="mx-1 text-gray-400">|</span>
                {{ end }}
              {{ end }}
            </li>
          {{ end }}

          {{ $tags := .Params.tags }}
          {{ if $tags }}
            <li class="inline-block whitespace-nowrap">
              <i class="fa-regular fa-tag mr-1" title="Tags"></i>
              {{ range $t := $tags }}
                <a href="{{ `tags/` | relURL }}{{ $t | urlize | lower }}/" class="hover:underline mr-2">
                  #{{ $t }}
                </a>
              {{ end }}
            </li>
          {{ end }}
        </ul>

        <div class="content mb-10 mt-10">
          <!-- {{ partial "toc.html" (dict "Class" "portfolio" "Collapsed" true "TableOfContents" .TableOfContents ) }} -->
          {{ .Content }}
        </div>

        {{ if site.Config.Services.Disqus.Shortname }}
          <div class="mt-20">
            {{ template "_internal/disqus.html" . }}
          </div>
        {{ end }}

      </article>
    </div>

    <!-- Related posts -->
    {{ $related := .Site.RegularPages.Related . | first 10 }}
    {{ $related = $related | shuffle | first 3 }}
    {{ with $related }}
      <div class="section pb-0">
        <h2 class="h3 mb-12">{{ T "related_posts" }}</h2>
        <div class="row">
          {{ range . }}
            <div class="lg:col-4 md:col-6 mb-14">
              {{ partial "components/portfolio-card" . }}
            </div>
          {{ end }}
        </div>
      </div>
    {{ end }}

  </div>
</section>
{{ end }}