@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "./tailwind-plugin/tw-theme";
@plugin "./tailwind-plugin/tw-bs-grid";
@source "hugo_stats.json";

@custom-variant dark (&:where(.dark, .dark *));

@import "./safe.css";
@import "./utilities.css";

@layer base {
  @import "./base.css";
}

@layer components {
  @import "./components.css";
  @import "./navigation.css";
  @import "./buttons.css";
}

@import "search.css";
@import "social-share.css";
@import "gallery-slider.css";
@import "images.css";
@import "toc.css";
@import "tab.css";
@import "accordion.css";
@import "modal.css";
@import "notice.css";

@import "module-overrides.css";
@import "custom.css";

/* Set hyperlinks to blue within content and prose only */
.content a:not(.btn),
.prose a:not(.btn) {
  color: #3b82f6;
  text-decoration: underline;
}

/* Set hyperlinks to blue within content and prose only in dark mode */
.dark .content a:not(.btn),
.dark .prose a:not(.btn) {
  color: #60a5fa;
}

/* Target the TOC specifically */
#TableOfContents ol {
  list-style-type: decimal;
}

/* Optional: nested levels in lowercase or other styles */
#TableOfContents ol ol {
  list-style-type: lower-roman; /* i, ii, iii, ... */
}

.note {
  background-color: #bffec9;
  border-left: 6px solid #707070;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  border-radius: 4px;
  font-style: italic;
  font-size: small;
}

.note summary {
  font-weight: bold;
  cursor: pointer;
}
